li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p, a, div, form {
font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-weight: 700;
}

.pen-navbar {
    color: #212529;
}

.header, thead, footer {
    background-color: #212529;
}

.writer-link {
    color: #212529;
}

.writer-link:hover {
    color: #212529;
    font-weight: 500;
}

.careers-form {
    width: 100%;
}

.footer h5 {
    color: white;
}

.card-img-top {
    height: 350px;
}

.card-body {
    height: 180px;
}

.card-footer {
    height: 230px;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

img {
    object-fit: cover;
}

.dropdown-custom-standard-labels:hover {
    color: black;
    background-color: #FFCA2B;
}

.dropdown-custom-profile:hover {
    color: #ffffff;
    background-color: #0d6efd;
}

.dropdown-custom-exit:hover {
    color: #ffffff;
    background-color: #dc3545;;
}

.custom {
    border: 10px solid rgb(182, 23, 23);
    background-color: red;
    height: 100px;
}

.active-link{
    color: #6c757d;
}

.active-link:hover{
    color: white;
}

a {
    text-decoration: none;
}

.carousel, .carousel-inner, .carousel-item {
    height: 500px;
}

.carousel-item:after {
content:"";
display:block;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
background:rgba(0,0,0,0.7);
}


.carousel-caption {
z-index: 2;
}
  
  
  